################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fantastic7/.vs/Fantastic7/v15
/.vs
x86/*
*.cs
*.cache
